<?xml version='1.0' encoding='utf-8'?>
<widget id="lg.ru" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ledger-Craft</name>
    <description>Ledger-Craft</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <preference name="InsecureMixedContent" value="1" />
    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="application" xmlns:android="http://schemas.android.com/apk/res/android">
            <android:usesCleartextTraffic>true</android:usesCleartextTraffic>
        </edit-config>
        <resource-file src="res/xml/network_security_config.xml" target="platforms/android/app/src/main/res/xml/network_security_config.xml" />
    </platform>
</widget>
